# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/dist/
/.idea/


# Babel plugin exclude
!*/!node_modules/babel-plugin-process-env/package.json
!*/!node_modules/babel-plugin-process-env/index.js

# Webpack plugin exclude
!*/!node_modules/webpack-remove-number-attrs-loader/package.json
!*/!node_modules/webpack-remove-number-attrs-loader/index.js